:root {
    --default-background: #efeadd;
    --accent-green: #739072;
    --mid-green: #4F6F52;
    --dark-green-text: #3A4D39;
    --default-border-radius: 1em;

}

#main-container {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

#content-container {
    padding: 2em;
    display: flex;
    flex-direction: row;
}

#about-section {
    width: 50%;
    padding-right: 5em;
}
#favorites-preview-section {
    width:50%;
    background-color: var(--accent-green);
    opacity: 0.35;
    border-radius: var(--default-border-radius);
}

body {
    background-color: var(--default-background);
    padding: 0em;
    margin: 0em;
    line-height: 2em;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: var(--mid-green);
    /* height: 5vh; */
    padding: 2em;
}

h1 {
    margin: 0em;
    padding: 0em;
    color: var(--default-background);

    font-variation-settings: 'wght' 570;
    font-size: 50px;
}

#title {
    margin-top: auto;
}

#menu-item-container {
    align-self: flex-end;
    margin:0em;

    margin-left: auto;
    padding:0em;

}

.menu-item {
    margin: 1em;
    font-size: 18px;
    color:var(--default-background);
}

.menu-item a {
    color: var(--default-background);
    text-decoration: none;
}

footer {
    background-color: var(--dark-green-text);
    padding:1em;
    margin-top: auto;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    color:var(--default-background);
}

footer a {
    color:var(--default-background);
}
