:root {
    --default-background: #efeadd;
    --accent-green: #739072;
    --transparent-accent-green: #73907250;
    --mid-green: #4F6F52;
    --dark-green-text: #3A4D39;
    --default-border-radius: 1em;

}

#main-container {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

#content-container {
    padding: 2em;
    display: flex;
    flex-direction: row;
    overflow-x:auto;
    flex-wrap:wrap;
    justify-content: space-between;
}

#about-section {
    width: 46%;
    padding-right: 5em;
}
#favorites-preview-section {
    width:46%;
    background-color: var(--transparent-accent-green);
    border-radius: var(--default-border-radius);
}

body {
    background-color: var(--default-background);
    padding: 0em;
    margin: 0em;
    line-height: 2em;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: var(--mid-green);
    padding: 2em;
}

h1 {
    margin: 0em;
    padding: 0em;
    color: var(--default-background);

    font-variation-settings: 'wght' 570;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

#title {
    margin-top: auto;
}

#menu-item-container {
    align-self: flex-end;
    margin:0em;

    margin-left: auto;
    padding:0em;

}

.menu-item {
    margin: 1em;
    font-size: 18px;
    color:var(--default-background);
}

.menu-item a {
    color: var(--default-background);
    text-decoration: none;
}

footer {
    background-color: var(--dark-green-text);
    padding:1em;
    margin-top: auto;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    color:var(--default-background);
}

footer a {
    color:var(--default-background);
}

.figure-container {
    width: 46%;
}

#vertical-river {
    width: 100%;
}
#vertical-river img{
    width:100%;
}


.river-card {
    background-color: var(--default-background);
    border-radius: var(--default-border-radius);
    margin:0.7em;
    box-shadow: 1px 3px 10px var(--mid-green);
    padding: 1em;
}

.card-title {
    font-size:20px;
    font-weight: 600;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}
table, th, td {
    border: 1px solid;
    border-color:var(--dark-green-text);
}

th {
    text-align: left;
    padding-left: 0.5em;
    background-color:#7390725c;
}

td p {
    margin: 0em;
    
}

td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#explore-table {
    width: 100%;
}
#table-container {
    flex-grow: 1;
    margin-right: 3em;
    width: 60%;
}

#filter-input {
    width: 30em;
    height: 2.5em;
    border:hidden;
    margin-bottom:1em;
    border-radius: var(--default-border-radius);
}

#filter-div label {
    font-size: 18px;
}

#favorites-list-div, #tips-aside, #request-div{
    background-color: var(--transparent-accent-green);
    width: 80%;
    border-radius:var(--default-border-radius);
    padding:1em;
    margin-bottom: 1em;
    
}

ul {
    padding-left: 0.8em;
}

#side-boxes-div {
    width:25%;
}

#request-form input {

}

#depth-input {
    width: 3em;
}

#home-figure {
    width: 100%;
    margin:0;
    text-align: center;
}
#home-figure img {
    border-radius: var(--default-border-radius);
    width:100%;
}

figcaption {
    color:var(--mid-green);

}

